body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
nav{
    overflow:hidden;
    margin-bottom:30px;
}
a .listlink {
    display:block;
    float:right;
}
a .dellink {
    display:block;
    float:right;
    color: #dd1111;
}

#studentShow, #studentList{
    width:80px;
    margin:0 auto;
    margin-top:80px;
}


