
@{
    ViewBag.Title = "Ajax_Add";
}

<div>
    <a style="font-size:1em; margin-top:2em;" href="/Teacher/List">Back to teachers list</a>
</div>
<div id="containershow">
    <h2>Add Teacher</h2>
    @{
        @model Assignment3_N01450753_WafaMustafa_5101B.Models.Teacher
    }


    <div class="inputrow">
        <label for="teacherFname">Fist Name:</label>
        <input type="text" id="teacherFname" name="teacherFname" />
    </div>
    <div class="inputrow">
        <label for="teacherLname">Last Name:</label>
        <input type="text" id="teacherLname" name="teacherLname" />
    </div>
    <div class="inputrow">
        <label for="employeeNumber">Employee Number:</label>
        <input type="text" id="employeeNumber" name="employeeNumber" />
    </div>
    <div>
        <label for="hireDate">Hire Date:</label>
        <input type="datetime" id="hireDate" name="hireDate" />
    </div>
    <div>
        <label for="saLary">Salary:</label>
        <input type="number" id="saLary" name="saLary" />
    </div>

    <button onclick="AddTeacher();">Add Teacher</button>

    <div id="ErrorBox" style="display:none;"></div>




</div>


