@model IEnumerable<Assignment3_N01450753_WafaMustafa_5101B.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h1>Welcome To The Teachers Page</h1>
<div>
    <nav>
        <h4><a class="listlink" style="margin-top:30px; display:block;" href="/Teacher/Add">Add Teacher</a></h4>
    </nav>
</div>
    <div id="subheading">
        <h3>Please enter teacher's name</h3>
    </div>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey"/>
        <input type="submit" value="Search"/>
    </form>

    <div id="teachersList">
    <h5>Please pick a Teacher to get more info</h5>
    @foreach (var Teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@Teacher.teacherId">@Teacher.teacherFname @Teacher.teacherLname</a></div>
        </div>
    }
    
    </div>
    

