
    <div class="jumbotron">
        <h1>Complete MVP</h1>
        <br/>
        <h2>Teachers and Students Database</h2>
        <h4>UPDATED for final</h4>
        <h5>Ajax validation method not working for Add Teacher<br>not sure if im linking the Ajax_add properly</h5>
        <div>
            <p>the rest of the parts for Assignment 5 are done</p>
        </div>
        <p class="lead"></p>
        <p><a href="/Teacher/List" class="btn btn-primary btn-lg">Teachers</a></p>
        <p><a href="/Student/ListStudents" class="btn btn-primary btn-lg">Students</a></p>
    </div>
    <div class="row">

    </div>
