
    <div class="jumbotron">
        <h1>Complete MVP</h1>
        <br/>
        <h2>Teachers and Students Database</h2>
        <div></div>
        <p class="lead"></p>
        <p><a href="/Teacher/List" class="btn btn-primary btn-lg">Teachers</a></p>
        <p><a href="/Student/ListStudents" class="btn btn-primary btn-lg">Students</a></p>
    </div>
    <div class="row">

    </div>
